@charset "utf-8";
#container{
	width: 95%;
	background-color: white;
	min-height: 390px;
	padding: 0;
	margin-left: -20px;
}

#left{
	float: left;
	width: 10%;
	min-height: 390px;
	background-color: white;
	height: 100%;
	
}

#right{
	float: right;
	width: 75%;
	margin-top: 19px;
	min-height: 390px;
	background-color: white;
}

#center{ /* div od carousel*/
	position: relative;
	float: left;
	margin: 0;
	top: 0px;
	width: 15%;
	height: 100%;
	min-height: 390px;
	background-color: white;
	overflow: hidden;
}

#main_foto{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;	
	
	
}

#js-slide_container{/* tego raczej nie ruszac, chyba ze po konsultacji z Karo*/
	position: relative;
}

#js-slide_container img{/* tego raczej nie ruszac, chyba ze po konsultacji z Karo*/
	position: absolute;
	z-index: 1;
	width: 707px;
	height: 455px;
	top: -16px;
	border: 1px solid black;
	
}

#chrome_fix{	/*nie tykac, bo nie bedzie dzialac na chromie*/
	position: relative;
	top: 0px;
}

#js-slide_container img.active{/* tego raczej nie ruszac, chyba ze po konsultacji z Karo*/
	z-index: 3;
	
}


img.thumbnail{
	width: 94%;
	border: 1px solid black;
	float: left;
	opacity: 0.8;
	
}

img.thumbnail:hover{
	width: 94%;
	border: 1px solid black;
	float: left;
	opacity: 1;
}

img.top_button {
	width: 8%;
}

img.bottom_button {
	width: 8%;
	float: bottom;
}

p.vertical_txt {
	writing-mode:tb-rl;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	white-space:nowrap;
	width: 80%;
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	position: relative;
	left: 0px;
	margin-top: 0px;
	color: #9c9c9c;
	
}

#js-top_thumbs{
	position: relative;
	left: 65px;
}

#js-bottom_thumb{
	position: relative;
	left: 65px;
}

#js-button_right{
	
	position: relative;
	top: 196px;
	left: 710px;
	
}

#js-button_left{
	position: relative;
	top: 200px;
}

#carousel{ /* tego raczej nie ruszac, chyba ze po konsultacji z Karo*/
	overflow: hidden;
	height: 457px;
	background-color: white;
}

#js-carousel{/* tego raczej nie ruszac, chyba ze po konsultacji z Karo*/
	list-style-type: none;
	position: relative;
	margin: 0px;
	height: 9999px;
}

#js-carousel li{/* tego raczej nie ruszac, chyba ze po konsultacji z Karo*/
	float: left;
	height: 92px; 
	width: 139px;
	position: relative;
	left: -40px;
	top: -87px;
	background-color: white;
}

#js-photos_button{
	position: relative;
	top: 150px;
	left: -20px;
	color: #009fe3;
	
}

#js-pano_button{
	position: relative;
	top: 140px;
	left: -20px;
}

#photos_button_bg{
	position: relative;
	top: 21px;
	left: 54px;
	width: 50px;
	height: 229px;
	background-color: white;
}

#pano_button_bg{
	position: relative;
	height: 50%;
	top: 21px;
	width: 50px;
	left: 54px;
	width: 50px;
	height: 228px;
	background-color: white;
}
