@charset "utf-8";
.offer{
	width: 90%;
	height:520px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: auto ;
 	margin-right: auto ;
	background: white;
	
	position:relative;
	z-index:6;
	/*background: transparent;*/
}

.offer-em{
	height:230px;
	margin-top: 5px;
	background: grey;
	
	position:relative;
}