@charset "utf-8";
.offer{
	width: 100%;
	height:522px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: auto ;
	margin-right: auto ;
	position:relative;
	z-index:6;
	/*background: transparent;*/
}

.offer-em{
	height:215px;
	margin-top: 5px;
	position:relative;
}

.product_content{
	width: 100%;
	height:215px;
	background-color:silver;
}